/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.progressive {
  z-index: 998;
  position: fixed;
  height: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  top: 0;
  left: 0;
}

.progress__bar {
  transition: width 0.15s linear;
  /* background-color: #ff5a5a; */
  background: -webkit-linear-gradient(to right, #ff5a5a, #bd276d);
  background: -moz-linear-gradient(to right, #ff5a5a, #bd276d);
  background: -ms-linear-gradient(to right, #ff5a5a, #bd276d);
  background: -o-linear-gradient(to right, #ff5a5a, #bd276d);
  background: linear-gradient(to right, #ff5a5a, #bd276d);
  height: 100%;
  width: 0%;
}

.social {
  z-index: 999;
  position: fixed;
  height: 100vh;
}

.social-icons {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.social-icons-div {
  position: absolute;
  left: 95vw;
}

.social-icons-div i {
  color: #262a53;
}

.social-icons-div i:hover {
  margin: 5px 0px;
  font-size: 2em;
  color: #ff5a5a;
}

body {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, #ffa0a0, #262a53);
  background: -moz-linear-gradient(to left top, #ffa0a0, #262a53);
  background: -ms-linear-gradient(to left top, #ffa0a0, #262a53);
  background: -o-linear-gradient(to left top, #ffa0a0, #262a53);
  background: linear-gradient(to left top, #ffa0a0, #262a53);
}

/* #ff5a5a */

/* #home {
  min-height: 100vh;
} */

.main-hero {
  height: 90vh;
  color: #ffe3e3;
}

.text-brief {
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 45px;
  color: #ff5a5a;
  font-family: "Gochi Hand", cursive;
}

.role {
  font-weight: 700;
  box-shadow: 0px 2px #ff5a5a;
}

.img-col {
  padding: 10%;
}

.avt {
  border: 5px dotted #ff5a5a;
  border-radius: 50%;
  padding: 10px;
}

.btn-hero {
  background-color: #ff5a5a !important;
  border: none;
}

.btn-hero:hover {
  background-color: #ff5a5abe !important;
  border: none;
}

.down-arrow-div {
  text-align: center;
  margin-top: 0px;
}

.dn-ar {
  text-align: center;
  color: #ffe3e3;
}

#sectionSecond {
  position: relative;
}

.main-headings {
  color: #ffe3e3;
  box-shadow: 0px 2px #ff5a5a;
  /* text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4); */
}

.details {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-right {
  max-width: 30%;
}

.details-right p {
  font-size: 12px;
  margin-bottom: 0px;
  color: #2b2c3d;
  font-weight: 500;
}

.text-shadow {
  position: relative;
}

.text-shadow-span {
  position: absolute;
  font-size: 3rem;
  filter: blur(1px);
  /* top: %; */
  left: 0px;
  color: #bd276d1e;
}

.at {
  font-style: italic;
  font-weight: 200;
  color: #262a53;
}

.center-line {
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #ffe3e3;
  left: 50%;
}

.timeline-margin-custom {
  margin-top: 3rem;
}

.timeline-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.timeline-content section {
  /* height: ; */
  background-color: #ffe3e3;
  color: #262a53;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 15px;
  margin-top: 20px;
  position: relative;
}

.timeline-content section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: #ffe3e3;
  top: 45%;
  transform: rotate(45deg);
  z-index: -1;
}

.timeline-left-col section::before {
  right: -7px;
}

.timeline-right-col section::before {
  left: -7px;
}

.timeline-left-col {
  justify-content: flex-start;
}

.timeline-right-col {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .text-brief {
    flex-wrap: nowrap !important;
  }
  .main-hero {
    height: 100vh;
  }
}

@media (max-width: 420px) {
  .down-arrow-div {
    margin-top: 5vh;
  }
  .social {
    display: none;
  }
  .text-brief {
    flex-wrap: nowrap !important;
  }

  .timeline-content section {
    width: 100%;
  }

  .center-line {
    display: none;
  }

  .timeline {
    margin-top: 0rem;
  }

  .timeline-content section::before {
    display: none;
  }

  .main-hero {
    height: 90vh;
  }
}
